.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

button {
    padding: 10px;
    background-color: darkmagenta;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3f003f;
}